01_Architecture/Configs/n8n/webhook-ai-pipeline-template.json
{
  "_comment": "fu75ch1 Advanced Configs -- n8n Webhook-Template fuer AI-Pipelines. Eine Variable zum Anpassen: 'path' (eindeutiger Webhook-Pfad). Import: n8n UI -> Workflows -> Import from File.",
  "name": "AI Pipeline - Webhook to LLM to Response",
  "nodes": [
    {
      "parameters": {
        "path": "ai-pipeline-CHANGE-ME",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Eingehenden Request validieren und normalisieren\nconst body = $input.first().json.body;\n\nif (!body || !body.prompt) {\n  throw new Error('Missing required field: prompt');\n}\n\nreturn [{\n  json: {\n    prompt: body.prompt,\n    tier: body.tier || 'medium',\n    received_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.tier === 'small' ? 'phi3:mini' : 'llama3.1:8b', prompt: $json.prompt, stream: false }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-ollama",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.response, \"model_used\": $json.model } }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Validate & Normalize", "type": "main", "index": 0 }]]
    },
    "Validate & Normalize": {
      "main": [[{ "node": "Call Ollama", "type": "main", "index": 0 }]]
    },
    "Call Ollama": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
